/*
 * @name: 裕金在线
 * @overview: 
 * @require:
 */ 
 @charset "utf-8";
 @import url("base.css");
 @import url("comp.css");
/*首页*/
.banner { height:350px; position:relative; }
.banner_pic { width:100%; height:350px; overflow:hidden; position:absolute; top:0; left:0; z-index:1; background: #f7f7f7; }
.banner_pic li { width:100%; text-align:center; height: 350px; overflow:hidden; display: block; margin: 0px auto; }
.banner_pic li a{ display: block; width: 1000px; height: 350px; margin: 0px auto; overflow: hidden; }
.banner_bar { position:absolute; left:50%; bottom:14px; z-index: 2; margin-left: -200px; }
.banner_bar a { float:left; width:10px; height:10px; background:url(images/home/banner_bar.png) no-repeat -15px 0; margin:0 4px; overflow:hidden; }
.banner_bar a.on, .banner_bar a:hover { background-position:0 0; }
.home-container { width:100%; height:350px; margin:0 auto; position:relative; z-index:2; }
.home-reg { width:240px; height:245px; line-height:32px; background: url(images/home/reg_bg.png) repeat 0 0; overflow:hidden; position:absolute; top:25px; right:50%; margin-right: -500px; z-index:2; padding:40px 20px 20px 20px;}
.home-reg .border-fff { height:218px; padding: 20px; overflow:hidden; }
.home-reg p { color: #FFF; overflow: hidden; font-size: 16px; text-indent: 20px; padding-top: 10px;}
.home-reg p span { font-size: 14px; line-height: 26px; float: left; padding-top: 10px; }
.home-reg p i.orange { color: #ff9517; font-size:32px;}
.home-reg p.f-tar { font-size: 14px;}
.home-reg strong { color:#ff9517; font-weight: normal; font-size:32px;  }
.home-reg .h-reg-btn { height:38px; text-align:center; line-height:38px; color:#ffffff; font-size:16px; background:url(images/common/btn_blue.jpg) repeat-x 0 0; display:block; margin:0px auto; margin-top: 35px; }
.home-reg a.h-reg-btn:hover { color:#f00; text-decoration: underline;}
.home-reg a:hover{color: #fff;}
.home-reg .u-logo-btn { color:#ff9a01; }
.home-reg .u-logo-btn:hover { color:#ff9a01; }
.home-reg h2{color:#fff;font-family: 'Microsoft Yahei';font-size: 22px; text-indent: 20px;}
.home-net { border-bottom:1px solid #dbdcdc; border-top:1px solid #ffffff; }
.net-credit { padding:35px 0px 30px 0px; overflow:hidden;background: url(images/common/ptjs-icon.jpg) no-repeat 0 0; }
.net-credit h1{ font-size:18px; font-weight: normal; color: #ff6600; }
.net-credit-txt{ width:380px; }
.net-credit-txt p{ line-height:22px; padding-top:2px; font-size: 13px; }
.net-credit-txt p a{ color:#ff5500; }
.net-credit-txt p a:hover { color: #b80000; }
.net-credit-num{ width:290px; text-align: right; }
.net-credit-num p{ font-size: 20px; line-height:40px; text-align: right; }
.net-credit-num strong{ display:block; color:#ff5500; text-align: right; font-size:30px; font-weight:normal; margin-top:6px; }
.net-credit dt{font-size: 14px;color: #323232;font-family: "Microsoft Yahei";font-weight: bold;line-height: 20px;}
.net-credit dd strong{color: #ec4d55;font-size: 26px;font-weight: normal;}
.net-credit .person{width: 270px;}
.net-credit .person dt,
.net-credit .person dd{text-indent: 70px}
.net-credit .money{width: 400px;}
.net-credit .money dt,
.net-credit .money dd{text-indent: 120px}
.net-credit .repay{width: 280px;}
.net-credit .repay dt,
.net-credit .repay dd{text-indent: 120px}
.home-section_bd { padding-bottom:20px; }
.home-section { padding-bottom:15px; }
.home-newpro { width:685px; height: auto; overflow:hidden; }
.home-newpro h3 { height:48px; background:url(images/common/zjht.jpg) no-repeat 0 13px; }
.home-newpro h3 span{ float:left; height:48px; font-size:18px; color:#666; line-height:48px; padding:0 20px; text-indent: -99em; overflow: hidden; }
.newpro-list { padding:0px; }
.newpro-list table td.time { font-size: 20px; color: #51b651; text-align: center; }
.newpro-list table td.info_txt { font-size: 14px; padding: 10px; line-height: 24px; }
.newpro-list table td.info_txt b { font-size: 15px; }
.newpro-table { width:100%; overflow:hidden; display:block; padding:0px; margin-bottom: 0px; background: #ffffff; border-bottom:3px solid #eeeeee; float:left; }

.newpro-table tr { height:34px; font-weight: normal; line-height:34px; font-size:14px; }
.newpro-table th { border-bottom:1px #dedede solid; font-weight: bold; height:34px; line-height:34px; font-size:13px; background:url(images/common/pro_tit.jpg) repeat-x 0 0; }
.newpro-table td { line-height:26px; padding:10px 15px; }
.newpro-table td.title { font-size: 16px; color: #323232; width: 190px; }
.newpro-table td.title a{ color: #323232; }
.newpro-table td.title a:hover { color: #db2c2d; }
.newpro-table td.money { font-size: 14px; color: #323232; width: 200px; }
.newpro-table td.bar { width: 245px; }
.newpro-table td.number { width: 120px; }
.newpro-table td .plan_bg { display:inline-block; width:90px; height:8px; background:#e6e2e7; overflow:hidden; border-radius: 5px; }
.newpro-table td .plan_bg .plan { float:left; display:inline-block; width:70px; height:8px; background:#ffb600; border-radius: 5px; }
.newpro-table td.button { padding: 0px; }
.newpro-table td.button a { display:inline-block; height:34px; width: 92px; font-size: 16px; font-weight: normal; text-align:center; line-height:34px; color:#ffffff; background:#ff6600; border-radius: 2px; }
.newpro-table td.button a:hover { background: #ff5500; }
.newpro-table td a.f-full { color:#666; background:#e4e9ed; border:1px #d9d9d9 solid; }
.newpro-table td.button a.f-full { padding: 0px; }
.newpro-table td.button a.f-full:hover { background:#e4e9ed; color:#666; }
.newpro-table em { color:#d73800;font-size: 14px; }
.look-more{ text-align:center; padding:20px 0 0; width: 100%; overflow: hidden;font-family: '宋体';}
.look-more a{ font-size:12px; color:#0078c8; display: block;background: #f0f0f0;height: 30px;line-height: 30px; }
.look-more a:hover{ color: #ff5500; }
.home-newpro .newpro a { width:80px; height:28px; text-align:center; font-weight:bold; line-height:28px; color:#fff; background:#db2c2d; display:inline-block; }
.home-newlist { width:280px; height: auto; overflow:hidden; }
.newlist-img{ width:260px; height:132px; margin:8px auto 0; }
.h-newlist-box { overflow:hidden; margin-bottom: 20px; }
.h-newlist-box h2 { height:30px; line-height:30px; overflow:hidden; }
.h-newlist-box h2 span { float:left; color:#ff5500; font-size:18px; }
.h-newlist-box h2 a { float:right; color:#646464;font-family: '宋体'; }
.m-news h2{background: url(images/common/news-icon.png) no-repeat 5px center;}
.m-strategy h2{background: url(images/common/strategy-icon.png) no-repeat 5px center;}
.m-problem h2{background: url(images/common/problem.png) no-repeat 5px center;}
.m-information h2{background: url(images/common/star.png) no-repeat 5px center;}
.m-focus h2{background: url(images/common/focus.png) no-repeat 5px center;}
.h-newlist-box ul,
.h-newlist-box .inner { padding:0 20px; }
.h-newlist-box li { line-height:24px; padding-bottom:2px; }
.h-newlist-box li a{ display:inline-block;*display: inline;*zoom: 1;line-height: 23px;height:23px; }
.h-newlist-box li a:hover{color:#ff9a01;text-decoration: underline;}
.cooperative-agency{ background: #ececec;padding:10px 15px 0; box-shadow: 0px 5px 10px 0px #ccc; }
.cooperative-agency h2{ font-size:16px; font-weight: normal; border-bottom: 1px solid #dddddd; padding: 5px 0 8px;text-indent: 2.3em; }
.cooperative-agency ul{font-size: 0;}
.cooperative-agency li{ display: inline-block;*display: inline;*zoom:1;vertical-align: middle;font-size: 15px; margin: 10px 8px; width: 23%;}
.cooperative-agency li a{color:#333;}
.cooperative-agency li a:hover{color:#ca971e;}
.m-media li, .m-friend li{width:auto;}
/*帮助中心*/
.bd-box { width:998px; height:auto !important; min-height:400px; height:400px; background:#f8f8f8; border:1px #ddd solid; }
.db-p14 { width:970px; padding:14px; }
.title1 { height:23px; background:url(images/common/title_bg1.jpg) repeat-x 0 0; padding:0 30px; }
.title1 span { display:inline-block; color:#fff; line-height:23px; text-align:center; background:#db2c2d; padding:0 4px; }
.help-list { }
.help-list li { line-height:34px; background:url(images/common/point1.jpg) no-repeat 30px center; padding:0 38px; border-bottom:1px #e4e4e4 dashed; overflow:hidden; zoom:1; }
.help-list li a { float:left; }
.help-list li span { float:right; }
.account-page { padding-left:80px; }
.account-page a { color:#1568b3; }
.account-page .page-jump input { width:30px; height:20px; text-align:center; line-height:20px; border:1px inset #ccc; }
/*关于我们*/
.about-us { padding:0 50px; }
.about-txt { line-height:22px; font-family:Arial, Helvetica, sans-serif; }
.about-txt .on{color:#ff5500; font-weight: bold;}
.about-nav { }
.about-nav li { float:left; width:100px; height:38px; line-height:38px; text-align:center; font-size:14px; font-weight:bold; margin-right:10px; }
.about-nav li a { display:block; border:1px #ddd solid; }
.about-nav li.cur a { color:#f60; border-bottom:1px #fff solid; }
/*会员登录*/
.login { height:500px; background:url(images/login_bg.jpg) no-repeat center 0; border-top:1px solid #fff; border-bottom:1px solid #dbdcdc; }
.log-container { width:1000px; height:445px; margin:0 auto; position:relative; }
.log-box { width:370px; height: atuo; line-height:30px; background:rgba(255, 255, 255, 0.5); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#80ffffff', EndColorStr='#80ffffff'); overflow:hidden; position:absolute; top:28px; left:26px; padding:20px 15px 10px; overflow:hidden; }
.log-box .log-tit { height:28px; background:url(images/common/log_tit_bg.jpg) repeat-x 0 center; padding:0 25px; overflow:hidden; }
.log-box .log-tit span { display:inline-block; color:#fff; line-height:28px; text-align:center; font-weight:bold; background:#db2c2d; padding:0 4px; }
.log-box .fn-tip{ line-height:20px; padding:0 15px 20px; }
.log-box .forget-pw { height:18px; line-height:18px; margin-top:8px; text-align:right; padding-right:70px; }
.log-box .log-item a, .log-box .no-acount a { color:#09f; }
.log-box .log-btn { padding-left:90px; }
.log-box .log-btn .fn-g-btn { width:210px; height:40px; text-align:center; line-height:40px; font-weight:bold; color:#fff; font-size:14px; background:#db2c2d; display:block; margin:5px 0; }
.log-box .no-acount { padding-right:70px; }
/*会员注册-会员注册成功*/
.log-success { background:#fafad6; padding:20px 40px 40px; }
.log-success h1 { line-height:30px; font-size:16px; font-weight:bold; position:relative; padding-left:45px; overflow:hidden; zoom:1; }
.log-success h1 em.icon { display:inline-block; width:31px; height:30px; background:url(images/common/icon.gif) no-repeat -60px -78px; overflow:hidden; position:absolute; left:0; top:0; }
.log-success-txt { margin-top:25px; padding-left:30px; }
.log-mode { padding:25px 50px; }
.log-mode-img span { display:inline-block; width:125px; height:40px; text-align:center; background:url(images/log_mode_bg.jpg) no-repeat center 16px; margin:0 15px; }
.log-mode p a { color:#f60; }
.fn-y-title h1{ font-size:14px; font-weight:bold; }
/*会员注册-验证手机号码*/
.fn-txt { padding-left:90px; margin-bottom:30px; }
.btn-text { display:inline-block; border:none; width:146px; height:31px; line-height:31px; text-align:center; background:url(images/common/msg-btn.gif); color:#999; cursor:pointer; }
/*忘记密码-找回支付密码*/
.find-pw-box { padding:30px 80px 40px; }
.p-box dt { font-size:28px; font-family:"微软雅黑", tahoma, arial, 宋体; font-weight:bold; height:166px; vertical-align:top; margin-right:10px; width:60px; }
.p-box dd { -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; width:808px; height:140px; margin-top:10px; position:relative; }
.p-box dd .top-c { font-size:14px; font-weight:bold; color:#fff; margin-top:10px; font-family:"微软雅黑"; }
.p-box dd.phone { background: url(images/phone2.gif) 37px 30px no-repeat #db2c2d; }
.p-box dd.qiye { background: url(images/kf.gif) 27px 28px no-repeat #F60; }
.p-box dd.phone h3 { font-family:"微软雅黑"; color:#FFF; font-size:32px; margin-left:109px; margin-top:32px; }
.p-box dd.qiye h3 { font-family:"微软雅黑"; color:#FFF; font-size:32px; margin-left:109px; margin-top:16px; }
.p-box dd p { margin-left:109px; color:#a5d096; }
.p-box dd.phone span { color:#fff; }
.p-box dd p.fd { color:#fff; font-size:14px; font-family:"微软雅黑"; font-weight:bold; }
.p-box dd p.qy { color:#f4ab7a; }
.p-box dd a { position:absolute; right:41px; top:55px; display:inline-block; width:96px; height:31px; line-height:31px; background:url(images/button-bg.gif) no-repeat; text-align:center; font-size:14px; font-weight:bold; color:#db2c2d; }
.p-box dd.qiye a { color:#F60; }
/*忘记密码-设置成功*/
.fn-operate { background:#fafad6; color:#666; border-radius:5px; box-shadow:1px 1px 1px #bbb; padding:35px 50px 35px 100px; position:relative; zoom:1; }
.fn-operate em { width:32px; height:32px; background:url(images/common/icon.gif) no-repeat; position:absolute; top:32px; left:55px; }
.fn-operate h4 { font-size:16px; font-weight:bold; }
.fn-operate ul { margin-bottom:15px; }
.fn-operate ul li { line-height:16px; }
.fn-operate p span { color:#ccc; padding:0 10px; }
.fn-operate p strong { font-weight:normal; }
.fn-operate p a{ color:#2386d8; }
.fn-success em { background-position:-60px -78px; }/*操作成功*/
.fn-fail em { background-position:-60px -15px; }/*操作失败*/
.fn-warning em { background-position:-60px -196px; }/*操作提醒*/
.fn-wait em { width:30px; height:30px; background:url(/images/common/wait-ico.gif) no-repeat; }/*操作等待*/
/*我要理财*/
.title2 { height:23px; background:url(images/common/title_bg1.jpg) repeat-x 0 0; padding:0 70px; position:relative; overflow:hidden; }
.title2 span.tit-name { display:inline-block; color:#666; line-height:23px; text-align:center; background:#f8f8f8; padding:0 4px; }
.title2 a.return { display:inline-block; color:#fff; line-height:23px; background:#db2c2d; padding:0 6px 0 4px; position:absolute; left:0; top:0; }
.title2 span.balance { display:inline-block; color:#fff; line-height:23px; background:#db2c2d; padding:0 22px 0 6px; position:absolute; right:30px; top:0; }
.title2 span.balance span { font-family:Verdana, Geneva, sans-serif; }
.title2 span.balance a { display:inline-block; width:12px; height:12px; background:url(images/common/balance_icon1.jpg) no-repeat right center; position:absolute; right:6px; top:5px; }
.pro-list { border:1px #dddddd solid; }
.pro-table { width:100%; }
.pro-table th, .pro-table td { border-bottom:1px #ddd solid; }
.pro-table th { height:34px; line-height:34px; font-size:13px; background:url(images/common/pro_tit.jpg) repeat-x 0 0; }
.pro-table td { padding:8px 0; line-height:26px; }
.pro-table td .plan_bg { display:inline-block; width:70px; height:8px; background:#828382; overflow:hidden; margin-right: 5px; }
.pro-table td .plan_bg .plan { float:left; display:inline-block; width:70px; height:8px; background:#db2c2d; }
.pro-table td .btn { display:inline-block; height:26px; width:80px; color:#fff; font-weight:bold; background:#db2c2d; }
.pro-table td .btn.f-full { background: #e4e9ed; color: #999; border: 1px solid #ccc; }
/*我要理财-项目详情*/
.f-title { height:34px; line-height:34px; font-size:13px; font-size:14px; font-weight:bold; background:url(images/common/pro_tit.jpg) repeat-x 0 0; padding:0 14px; border-bottom:1px #ddd solid; }
.f-title .assure-icon{ color:#db2c2d; background:url(images/common/assure_icon1.gif) no-repeat 0 center; padding:0 0 0 18px; }
.short-borrowing { width:610px; height:252px; border:1px #ddd solid; overflow:hidden; }
.short-borrowing .fs-num { padding:20px 0; }
.short-borrowing .fs-num li { float:left; width:33%; font-size:14px; font-weight:bold; line-height:40px; text-align:center; padding-bottom:25px; }
.short-borrowing .fs-num li.bd-line { border-right:1px #ccc dotted; }
.short-borrowing .fs-num li strong { display:block; font-size:24px; font-weight:normal; padding-top:10px; }
.short-borrowing .fs-num li strong.g-green { color:#db2c2d; font-weight:bold; }
.short-borrowing .fs-num li strong.g-orange { color:#f60; font-weight:bold; }
.short-borrowing .fs-use { font-size:14px; padding:0 20px 20px; }
.cast-money { width:340px; height:252px; border:1px #ddd solid; margin-right:5px; display:inline; overflow:hidden; }
.cast-money-box { padding:30px; }
.cast-money-box p em{ color:#f60; margin:0 5px; }
.cast-money .f-schedule .plan { display:inline-block; width:200px; height:12px; background:#828382; }
.cast-money .f-schedule .plan .plan-box{ float:left; width:200px; height:12px; width:100%; background:#db2c2d; }
.cast-money p { text-align:center; }
.cast-money span , .cast-money .cm-btn{ display:block; height:34px; background:#f60; text-align:center; line-height:34px; font-size:15px; font-weight:bold; color:#fff; }
.cast-money span a{ color: #fff; }
.cast-money .invest-money{ text-align:left; font-size:14px; background:url(images/common/icon1.gif) no-repeat 10px center; padding-left:34px; }
.cast-money .invest-money em{ color:#f60; margin:0 5px; }
/*投资界面弹出层*/
.invest-tit{ height:50px; line-height:50px; padding:0 20px; }
.invest-tit .u-tt{ float:left; font-size:14px; color:#db2c2d; font-weight:bold; }
.invest-tit .u-close{ float:right; width:11px; height:11px; background:url(images/common/close_icon.jpg) no-repeat 0 0; margin-top:19px; }
.invest-up{ padding:20px 0; }
.invest-up .fn-item{ padding-bottom:25px; }
.invest-up input{ background:#fff; }
.invest-up a.affirm , .invest-up a.consider{ display:inline-block; height:28px; color:#666; line-height:28px; font-weight:bold; text-align:center; background:#d3d3ce; padding:0 15px; }
.invest-up a.affirm{ color:#fff; background:#db2c2d; }
.invest-up .ml-80{ margin-left:-80px; }
.borrowing-info { border:1px #ddd solid; position:relative; }
.b-tab { padding-left:10px; position:absolute; left:0; top:-40px; }
.b-tab li { float:left; height:38px; line-height:38px; border:1px #ddd solid; padding:0 20px; margin:0 5px; }
.b-tab li a { font-size:15px; font-weight:bold; }
.b-tab li.curr { border-bottom:1px #fff solid; }
.b-tab li.curr a { color:#f60; }
.borrow-box{ width:300px; }
.borrow-box h2{ line-height:30px; font-weight:bold; padding-left:20px; }
.b-border{ width:284px; height:450px; background:#fff url(images/common/borrow_box_bg.jpg) repeat-x 0 bottom; border:1px #d8d8d8 solid; padding:10px; overflow:hidden; }
.pro-info{ line-height:26px; }
.pro-info li{ padding-left:90px; }
.pro-info li span{ float:left; width:100px; text-align:left; margin-left:-90px; }
.pro-info p{ padding-left:20px; }
.pro-info p em{ color:#f60; }
.assure-info{ background:url(images/common/assure_bg.jpg) no-repeat 0 bottom; }
.assure-info p{ line-height:24px; color:#f60; font-weight:bold; }
.assure-info span{ display:inline-block; width:90px; padding-left:10px; }
.borrow-record{ width:284px; height:470px; padding:1px 0 0; overflow:hidden; }
.borrow-record li{ line-height:34px; }
.borrow-record li h4{ background:#fff; font-weight:bold; padding:0 10px; }
.borrow-record li p{ background:#f5f5f5; border-top:1px #d8d8d8 solid; border-bottom:1px #d8d8d8 solid; padding:0 10px; }
/*会员中心-回款统计*/
.m-aside { width:170px; }
.m-info { padding:10px 22px; }
.m-info span.welcome { font-weight:bold; display:block; }
.m-function { position:relative; }
.m-function span { width:30px; height:30px; background:url(images/common/m_function_icon.gif) no-repeat 0 0; display:inline-block; margin-right:8px; }
/*未验证绑定*/
.m-function span.no-mf-icon1 { background-position:-30px 0; }
.m-function span.no-mf-icon2 { background-position:-30px -32px; }
.m-function span.no-mf-icon3 { background-position:-30px -64px; }
/*已验证绑定*/
.m-function span.mf-icon1 { background-position:0 0; }
.m-function span.mf-icon2 { background-position:0 -32px; }
.m-function span.mf-icon3 { background-position:0 -64px; }
/*左侧验证绑定提示弹出层*/
.mf-box{ background:#fff; border:1px #cecece solid; border-radius:3px; padding:10px 10px; position:absolute; left:-20px; top:42px;z-index:2; }
.mf-box em{ width:18px; height:9px; background:url(images/common/mf_box.gif) no-repeat 0 0; overflow:hidden; position:absolute; left:24px; top:-9px; }
.mf-box p{ color:#999; }
.mf-box p a{ color:#349cd8; text-decoration:underline; }
.mf-box1{ width:140px; }
.mf-box2 , .mf-box3{ width:190px; }
.mf-box2 em{ left:62px; }
.mf-box3 em{ left:100px; }
.m-safe { width:79px; }
.m-safe span { display:inline-block; font-size: 14px; float: left; }
.m-safe h3{ margin-top: 5px; overflow:hidden; font-weight: normal; }
.m-safe .m-safe-bg { width:106px; height:9px; background:url(images/common/m_safe_icon.gif) no-repeat 0 0; overflow:hidden; }
/*会员中心左侧安全强度-低*/
.m-safe .low{ background-position:0 0; }
/*会员中心左侧安全强度-中*/
.m-safe .middle{ background-position:0 -12px; }
/*会员中心左侧安全强度-高*/
.m-safe .high{ background-position:0 -24px; }
.m-balance { padding:10px 0px; text-align:center}
.m-balance strong, .m-balance span { text-align:center; display:block; }
.m-balance strong { font-size:14px; }
.m-balance span { color:#f60; font-weight:bold; margin:6px 0 10px; }
.m-balance a { display:inline-block; width:100px; height:32px; background:#f37800; font-size:12px; font-weight:bold; color:#fff; text-align:center; line-height:32px; }
.m-nav h2 { height:38px; line-height:38px; font-size:13px; font-weight:bold; border-bottom:1px #ddd solid; padding:0 20px; }
.m-nav ul { padding:0 15px; }
.m-nav li { line-height:34px; border-bottom:1px #d8d8d8 dashed; padding-left:25px; }
.m-content { width:817px; height:auto !important; height:600px; min-height:600px; border-left:1px #ddd solid; }
.m-content-box { width:767px; padding:15px; }
.mb-link { padding:0 30px; border-bottom:1px #d8d8d8 dashed; padding-bottom:10px; }
.mb-link .fn-left a { line-height:26px; display:inline-block; padding:0 8px; margin-top:4px; }
.mb-link .fn-left a.cur { color:#fff; background:#f37800; border-radius:3px; }
.mb-link em , .fn-condition em{ padding:0 5px; }
.mtable-list { width:96%; }
.mtable-list th, .mtable-list td { line-height:18px; text-align:left; padding:8px 0; }
.mtable-list th{ font-weight:bold; border-bottom:1px #d8d8d8 solid; }
.mtable-list td{ border-bottom:1px #d8d8d8 dashed; }
.mtable-list td em{ font-weight:bold; color:#f60; }
.mtable-list td a{ color:#0090ff; }
.mtable-list span.g-blue{ padding:0 5px; color:#0090ff; }
/*会员中心-账户充值*/
.title3 { height:23px; background:url(images/common/title_bg1.jpg) repeat-x 0 0; padding:0; }
.title3 span { display:inline-block; color:#ffffff; line-height:23px; text-align:center; background:#db2c2d; padding:0 4px; }
.title3 span.two { background: #f8f8f8; color: #666; }
.title3 span a{ color: #fff; }
.r-pay { position: relative; clear:both; }
.r-pay label { width: 100px; text-align: center; height: 37px; line-height:37px; display: block; float: left; }
.r-pay input.a-money { background:url(images/common/a-money.gif) no-repeat 0 0; width: 119px; height:31px; line-height:31px; padding:3px; border: none; float: left; }
.r-pay ul.balance-money { width: 200px; display: block; float: left; padding-top: 8px; }
.r-pay ul.balance-money li { width: 200px; display: block; float: left; height: 18px; line-height:18px; }
.r-pay ul.balance-money li span { width: 120px; display:block; overflow: hidden; float: left; text-align:right; margin-right: 10px; color: #808080; }
.r-pay ul.balance-money li i.money { color: #f37800; font-weight: bold; }
.r-pay ul.balance-money li i.green { color: #53a000; }
.r-pay .r-tab a.tab { width: 72px; height:26px; display: inline-block; text-align: center; line-height:26px; }
.r-pay .r-tab a.select-on { background:url(images/common/select-on.gif) no-repeat right bottom; border: 2px solid #db2c2d; border-radius: 2px; }
.cyber-bank { border: 1px solid #d8d8d8; background: #fff; padding: 10px; overflow: hidden; display: inline-block; margin-top: 20px; float: left; }
.cyber-bank ul li { float: left; }
.cyber-bank ul li a.bank-state { overflow: hidden; display:block; width:149px; height:40px; padding: 0px 5px; border: 1px solid #d8d8d8; margin-right: 20px; }
.cyber-bank ul li a.bank-state i.bank-name { overflow: hidden; display: inline-block; float: left; }
.cyber-bank ul li a.bank-state span.sign-state { overflow: hidden; display: inline-block; float: left; height: 12px; line-height:12px; padding: 20px 0px 5px 5px; color: #1aa3f9; }
.cyber-bank ul li a.signing { border: 2px solid #06a7fa; border-radius: 2px; }
.cyber-bank ul li a.add-bank { background:url(images/common/add_bank.jpg) no-repeat 0 0; width: 126px; height:38px; overflow: hidden; display:block; text-indent: -99em; }
.r-submit { float: left; }
.r-submit a { width: 120px; height:42px; line-height:42px; background:url(images/common/r-pay-draw.gif) no-repeat 0 0; display:block; overflow: hidden; text-indent: -99em; }
.draw a { background:url(images/common/r-pay-draw.gif) no-repeat 0 -42px; }
.tips h3 { text-indent: 50px; margin-bottom:20px; }
.tips p { padding-left: 100px; line-height:24px; }
.go-signing { position: absolute; z-index: 999; overflow: hidden; width: 277px; height:100px; border: 1px solid #d8d8d8; border-radius: 3px; background: #fff; }
.go-signing p { overflow: hidden; }
.go-signing p a.close { float: right; width: 20px; height: 20px; margin:5px 5px 0 0; background:url(images/common/close.gif) no-repeat 0 0; text-indent: -9em; overflow: hidden; }
.go-signing p.title { font-weight: bold; text-align: center; padding-bottom: 10px; }
.go-signing p.b-go { padding-bottom: 10px; text-align: center; }
.go-signing p.b-go a { height: 24px; line-height:24px; overflow: hidden; display: inline-block; text-align:center; font-weight: bold; }
.go-signing p.b-go a.ok { background: #db2c2d; color: #fff; width: 57px; margin-right: 33px; }
.go-signing p.b-go a.later { background: #b2b9b6; color: #fff; width: 73px; }
.r-draw { position: relative; clear:both; }
.r-draw label { width: 100px; text-align: center; height: 37px; line-height:37px; display: block; float: left; }
/*会员中心-账户充值状态*/
.recharge-state{ background:#fff; border:1px #d8d8d8 solid; border-radius:0; box-shadow:none; }
/*会员中心-我的账户*/
.info-list { padding: 10px 20px; overflow: hidden; }
.info-list dl { float: left; }
.info-list dl.account-list { width: 320px; }
.info-list dl.account-list dt, .info-list dl.account-list dd { height: 25px; line-height:25px; }
.info-list dl.account-list dd i { padding: 0px 10px; }
.info-list dl.account-list dd i.g-orange { color: #f37800; font-weight: bold; }
.info-list dl.account-list dd a{ width:35px; height:18px; text-align:center; line-height:18px; color:#fff; display:inline-block; }
.info-list dl.account-list dd a.g-recharge{ background:#f37800; }
.info-list dl.account-list dd a.g-withdrawal{ background:#828382; }
.info-list dl.m-p-list { width: 200px; line-height: 30px; padding-top: 40px; }
.info-list dl.m-p-list dt { width: 57px; height:57px; display:block; overflow: hidden; float: left; text-indent: -99em; }
.info-list dl.m-p-list dt.make { background:url(images/common/m-invest.jpg) no-repeat 0 0; }
.info-list dl.m-p-list dt.put { background:url(images/common/m-invest.jpg) no-repeat 0 -58px; }
.info-list dl.m-p-list dd { height: 30px; line-height:30px; padding-left:70px; }
.survey-list { padding: 0px 30px; overflow: hidden; }
.survey-list .general { width: 340px; float: left; border: 1px solid #d8d8d8; border-bottom: none; }
.survey-list .general h2 { background:url(images/common/survey-bg.jpg) repeat-x 0 0; height: 29px; line-height:29px; font-size: 14px; font-weight:bold; padding-left: 10px; border-bottom: 1px solid #bcbbbb; }
.survey-list .general table.general-table { width: 100%; border: none; }
.survey-list .general table.general-table tr { width: 100%; height:30px; line-height:30px; border-top: 1px solid #fff; border-bottom: 1px solid #d8d8d8; }
.survey-list .general table.general-table tr th, .survey-list .general table.general-table td { text-align: left; padding-left: 30px; }
.survey-list .general table.general-table td i.blue { color: #00ccff; }
/*会员中心-账户提现*/
.fn-name{ line-height:29px; font-weight:bold; }
.fn-sum{ color:#f37800; line-height:29px; font-weight:bold; }
.add-bank .select-right{ display:inline-block; width:126px; height:38px; background:url(images/common/add_bank.jpg) no-repeat 0 0; }
.choose-bank .select-box{ width:126px; height:30px; border:1px solid #ccc; position:relative; }
.choose-bank .select-box img{ margin:0 0 0 10px; vertical-align:middle; }
.choose-bank img{ height:30px; }
.choose-bank .select-box .select-right{ display:block; width:29px; height:30px; background:url(images/common/select_right3.gif) no-repeat 0 center; position:absolute; right:0; top:0; text-indent:-9999px; }
.fn-item .fn-tip span{ display:block; }
.fn-item .fn-tip span a{ display:inline-block; width:40px; height:22px; line-height:22px; text-align:center; font-weight:bold; background:url(images/common/btn_bg.jpg) repeat-x 0 0; }
.fn-item .fn-tip span a.fn-cancel{ color:#666; border:1px #dadada solid; }
.fn-item .fn-tip span a.fn-add{ color:#fff; border:1px #34b470 solid; background-position:0 -22px; margin-left:30px; }
.tips-pl20{ padding-left:20px; }
/*选择银行弹出层*/
.bank-list2{ margin-right:-5px; }
.bank-list2 li{ float:left; width:216px; height:43px; margin:0 5px 5px 0; border:2px solid #ccc; cursor:pointer; }
.bank-list2 li:hover{ border-color:#218408; }
.bank-list2 li img{ margin-left:8px; }
.bank-list2 .cur{ border-color:#db2c2d; background:url(images/common/b-cur.gif) no-repeat bottom right; }
.bank-list2 .other{ width:147px; color:#999; text-align:center; }
.bank-list2 .other .cont{ display:block; margin:12px 0 2px; }
.bank-list2 .other .arw{ display:block; width:0; height:0; overflow:hidden; vertical-align:middle; border-style:solid dashed dashed; border-width:4px 4px 0; margin:0 auto; border-color:#ccc transparent transparent; }
/*会员中心-账户设置*/
.user-info{ line-height:30px; border:1px #d8d8d8 solid; background:#FFFCF0; padding:10px 30px; }
.user-info strong{ font-size:16px; }
.user-info li{ }
.user-info li span{ margin-right:25px; }
.user-info li a{ color:#6cf; text-decoration:underline; }
.user-info li .user-title{ width:90px; display:inline-block; }
.user-info li .u-set{ color:#b1b0b0; }
.account-info{ }
.a-info-box{ width:223px; height:128px; line-height:26px; background:#fff; border:1px #d8d8d8 solid; padding:10px 0 10px 20px; }
.a-info-box strong{ font-size:14px; }
.a-info-box span.a-icon{ display:inline-block; line-height:20px; color:#808080; background:url(images/common/icon1.gif) no-repeat 0 0; padding-left:24px; }
.a-info-box label{ width:76px; display:inline-block; }
.a-info-box a{ color:#6cf; text-decoration:underline; }
.a-info-box a.a-info-btn{ display:inline-block; width:134px; height:32px; line-height:32px; text-decoration:none; text-align:center; color:#fff; background:#db2c2d; }
.a-info-box b{ font-family:"宋体"; }
.sms-set{ }
.sms-set h1{ font-size:14px; font-weight:bold; padding:0 20px; }
.sms-set .sms-table{ border:1px #ddd solid; }
.sms-set .sms-table a{ width:auto; height:auto; color:#666; font-weight:normal; background:none; margin:0 10px; }
/*修改手机号码*/
.get-code{ background:#fff; border:1px solid #ccc; border-radius:2px; padding:5px 0 10px 15px; width:420px; }
.get-code p{ color:#999; margin:5px 0; }
.form-box .yyzz{ display:none; position:absolute; left:480px; top:0; border-radius:8px; box-shadow: 3px 3px 3px 3px #999; padding:10px; background:#FFF; }
.fo-item a.btt{ display:inline-block; color:#999; height:29px; line-height:29px; border:1px #d1d1d1 solid; border-radius:5px; padding:0 15px; vertical-align:-1px; }
.form-box{ border-bottom:1px solid #E4E4E4; }
.form-box h3{ color:#666666; font-size:14px; font-weight:bold; padding-bottom:8px; }
/*担保公司角色*/
.role .survey-list{ padding:0px; }
.role .survey-list .general{ width:auto; float:none; border:1px solid #d8d8d8; }
.role .info-box{ margin-bottom:10px; border:1px #d8d8d8 solid; }
.role .info-box .a-info-box{ width:auto; height:128px; border:none; padding:10px 20px; }
.role .info-box .border-r{ width:1px; height:96px; overflow:hidden; margin:23px 0 0 20px; border-right:1px solid #d8d8d8; }
.role .r-box{ min-height:370px; _height:370px; padding:20px; border:1px solid #d8d8d8; }
.role .details dt,.role .details dd{ float:left; margin-bottom:20px; }
.role .details dt{ width:100px; margin-right:30px; text-align:right; }
.role .details dd{ width:588px; }
.role .details .orange-btn-b{ margin-left:130px; }
.orange-btn-b{ display:inline-block; *display:inline; zoom:1; width:119px; height:42px; line-height:42px; text-align:center; font-family:微软雅黑; font-size:18px; color:#fff; background:#f37800; }
.orange-btn-m{ display:inline-block; *display:inline; zoom:1; width:113px; height:35px; line-height:35px; text-align:center; color:#fff; background:#f37800; font-weight:bold; }
.role .fn-item .orange-btn-b{ color:#fff; }
.warm-tip{ margin:9px 0 0; padding:5px 10px; border:1px solid #ffb379; background:#fffbe8; }
.warm-tip p{ padding-left:21px; color:#ff0101; background:url(images/common/tip-ico.gif) no-repeat left center; }
.role .sy-set .warm-tip{ width:550px; margin:0 0 10px 60px; }
.role .sy-set .warm-tip p{ color:#666; }
.role .save-btn, .role .back-btn{ display:inline-block; *display:inline; zoom:1; height:29px; line-height:29px; padding:0 10px; font-weight:bold; border:none; }
.role .save-btn{ background:#db2c2d; color:#fff; margin-right:25px; }
.role .back-btn{ background:#d3d3ce; color:#666; }
.role .oper .m-tab{ height:38px; margin-top:30px; margin-bottom:15px; padding:1px 0 0; border-bottom:2px solid #db2c2d; }
.role .oper .m-tab .tt{ float:left; width:84px; height:27px; line-height:27px; margin:11px 0 0 24px; text-align:center; background:#db2c2d; color:#fff; }
.role .oper .m-tab ul{ display:inline; float:right; margin-right:16px; }
.role .oper .m-tab li{ display:inline; float:left; width:99px; height:36px; line-height:36px; text-align:center; margin-left:13px; border:2px solid #db2c2d; border-bottom:none; font-size:14px; font-weight:bold; }
.role .oper .m-tab li.cur{ background:#fff; height:38px; }
.role .oper .m-tab li.cur a{ color:#f60; }
.role .m-table-bd th,.role .m-table-bd td{ padding:10px 0; border:1px solid #dadada; text-align:center; }
.role .m-table-bd a{ color:#008aff; } 
.role .m-table-bd .odd th,.role .m-table-bd .odd td{ background:#f5f5f5; }
.role .m-table-bd2 th{ text-align:right; background:#f5f5f5; }
.role .m-table-bd2 td{ text-align:left; padding-left:15px; }
.role .m-table-bd2 .ipt{ width:187px; height:21px; line-height:21px; border:1px solid #d8d8d8; background:#fff; }
.role .m-table-bd2 .required{ color:#f00; font-family:SimSun; margin:0 15px 0 10px; }
.role .m-table-bd2 .m-poptip{ position:absolute; margin:-25px 0 0 225px; padding:3px 5px 4px 3px; }
.role .m-table-bd2 .m-poptip .arrow{ position:absolute; top:7px; left:-6px; width:6px; height:9px; }
.role .m-table-bd2 .m-poptip-right{ border:1px solid #b9e3ff; background:#f3fbff; }
.role .m-table-bd2 .m-poptip-right .arrow{ background:url(images/common/poptip-right-arw.gif) no-repeat; }
.role .m-table-bd2 .m-poptip-right p{ background:url(images/common/poptip-right.gif) no-repeat left center; padding-left:24px; }
.role .m-table-bd2 .m-poptip-error{ border:1px solid #ffc7c7; background:#ffecec; }
.role .m-table-bd2 .m-poptip-error .arrow{ background:url(images/common/poptip-error-arw.gif) no-repeat; }
.role .m-table-bd2 .m-poptip-error p{ background:url(images/common/poptip-error.gif) no-repeat left center; padding-left:24px; color:#fe3200; }
.role .oper-btn{ padding-left:190px; }
.role .oper .m-pop{ width:198px; padding:10px 0 20px; border:1px solid #d8d8d8; }
.role .oper .m-pop .pop-top{ padding:0 10px; margin-bottom:5px; }
.role .oper .m-pop .pop-top .close{ float:right; width:20px; height:20px; background:url(images/common/close.gif) no-repeat; }
.role .oper .m-pop .pop-con .tt{ font-weight:bold; background:url(images/common/icon1.gif) no-repeat left center; padding-left:30px; margin-left:20px; }
.role .oper .m-pop .pop-btn{ margin:20px 0 0; text-align:center; }
.role .oper .m-pop .pop-btn .sure{ display:inline-block; *display:inline; zoom:1; width:57px; height:24px; line-height:24px; text-align:center; background:#db2c2d; color:#fff; font-weight:bold; }
.cast-money .pop-tip{ position:relative; top:-20px; left:15px; width:290px; border:1px solid #cecece; }
.cast-money .pop-tip .arw{ position:absolute; left:60px; top:-9px; width:18px; height:9px; background:url(images/common/mf_box.gif) no-repeat; }
.cast-money .pop-tip .pop-con{ padding:10px 10px 0; }
.cast-money .pop-tip p{ margin-bottom:5px; text-align:left; background:url(images/common/horn.gif) no-repeat left center; padding-left:23px; }
.cast-money .pop-tip p a{ color:#008aff; margin-left:10px; }
.cast-money .pop-tip .fn-item{ padding-left:60px; }
.cast-money .pop-tip .fn-label{ width:75px; margin-left:-60px; }
.cast-money .pop-tip .fn-text{ height:27px; }
.fn-condition{ border-bottom:1px #d8d8d8 solid; }
.fn-condition dt ,.fn-condition em,.fn-condition a,.fn-condition span, .fn-condition dd{ float:left; }
.fn-condition dt{ width:100px; text-align:right; line-height:31px; }
.fn-condition .account-holder{ display:inline-block; width:88px; height:31px; text-align:center; line-height:31px; color:#fff; font-weight:bold; background:#db2c2d; }
/*404报错*/
.error404{ padding-left:80px; }
.error404 h4{ line-height:26px; font-size:14px; font-weight:bold; padding-left:34px; position:relative; }
.error404 h4 em{ width:24px; height:24px; background:url(images/common/error_icon.gif) no-repeat 0 0; position:absolute; left:0; top:0; }
.error404 p{ padding-left:50px; }
.error404 p a{ color:#0090ff; }
.error404 p span{ color:#ccc; padding:0 5px; }
/*修改电子邮箱*/
.email-info{ line-height:20px; padding:0 60px 0 40px; color:#666; }
.email-info h4{ font-size:14px; }
.email-info .mb-name{ color:#3a9f16; text-decoration:none; }
.email-txt{ padding-left:30px; }
.email-txt a{ display:inline-block; height:32px; text-align:center; line-height:32px; font-size:14px; font-weight:bold; color:#fff; background:#db2c2d; margin:0 0 25px 0; padding:0 20px; }
.email-tip{ line-height:22px; color:#999; margin:50px 0 20px; padding:10px 50px 0 40px; }

.main000 {font-size: 14px; font-family: "微软雅黑";}
/**
 * 熊洋 
 * 2014.8.13
 * 根据现有结构重构
 */
/*---------------覆盖---------------*/
.h-logo{ background: #fff; border-bottom: 2px solid #ac540e;}
.home-net { border:none; }
.home-section_bd{  padding-bottom: 30px; }
.net-credit-num p{ font-size: 26px; }
.cooperative-agency{ box-shadow: none; }
.cooperative-agency .inner{background: #fff;padding:15px 20px;}
.cooperative-agency h2{ border-color:#eee;background: url('images/common/partner-title.png') no-repeat 0 5px; }
.m-media h2{background: url('images/common/mike.png') no-repeat 9px 0;}
.m-friend{padding-bottom: 15px;}
.m-friend h2{background: url('images/common/frend.png') no-repeat 9px 2px;}
.m-friend .inner{padding:10px 20px;}
/*侧边栏公告*/
.h-newlist-box h2{ text-indent: 30px; }
.h-newlist-box h2 span{ color:#555; font-size: 16px;font-family: 'Microsoft Yahei'; }
.h-newlist-box h2 a{ color:#AAA; }
.h-newlist-box ul,
.h-newlist-box .inner{ padding-bottom: 10px;padding-top: 10px; border:1px solid #dcdcdc; }

/*------------布局 layout-----------*/
.l-row3{ width:30%; float: left; margin:0 1.5%; }

/*-------------元件 unit------------*/
.u-blue{ color:#09f; }

/*------------模块 module------------*/
/*注册框*/
.m-login h2{font-size: 18px;color:#fff;font-family: 'Microsoft Yahei';margin-bottom: 15px}
.m-login{ position:absolute; right:50%; top: 25px; width:280px; margin-right: -500px; z-index:2; background:url('images/common/reg_bg.png') repeat 0 0; font-family: '微软雅黑'}
.m-login .inner{ padding:25px 20px; }
.m-login .title{ font-size: 16px; margin-bottom: 15px; color:#FFF;  }
.m-login .group{ overflow: hidden; height: 45px; line-height: 45px; margin-bottom: 12px; }
.m-login a{color:#fff;}
#passwordDiv a{ display:block; height:100%; line-height:50px;text-align:center; text-decoration: underline; }
.m-login .group{font-size: 0;background:#ececec url('images/common/loginControlBg.png') no-repeat 219px 6px;}
.m-login .passwordGroup{background-position: 219px -19px;}
.m-login .group .control{ width:209px; margin-left: 0px; height:30px; line-height: 30px; padding-left: 5px;font-size: 12px;border-width: 0;outline: 0; }
/*验证码*/
.m-login .log-form .verify-group{background: transparent;margin-bottom: 0;}
.verify-group *{ vertical-align: middle;}
.verify-group a{font-size: 12px;}
.verify-control{  text-indent: 1em;font-size: 12px; height: 30px;line-height: 30px;}
.m-login .error{ visibility: hidden; }
/*javascript*/
.j-hasError .inner{ padding:15px 20px; }
.j-hasError .error{ margin: 10px 0 5px; visibility: visible; color:#e60000; }
.m-login .btn-sub { width:100%; height:35px; line-height:35px; text-align:center; color:#ffffff; font-size:16px; font-weight: bold; border:none; display:block; letter-spacing:1em; cursor: pointer; }
.m-login .btn-sub span{visibility: hidden;}
.m-login .btn-sub,
.m-login .btn-sub:hover { background: url('images/common/subbtn.jpg') repeat-x 0 0; }
.m-login .shop{ margin:15px 0 0; overflow: hidden; /*clear float*/text-align: right; }
.m-login .shop .u-org{color:#ca971e;}
.m-login .shop .f-fcca971e{color:#ca971e;}
.m-login .shop a:hover{ text-decoration: underline; }

/*产品描述*/
.m-desc{ background: #fff; border:1px solid #EEE; overflow: hidden; padding:20px 15px; }

/*竖向布局表单*/
.m-form-h .group{ height:auto; line-height: 28px; margin-bottom:16px; overflow: hidden; }
.m-form-h .group label{color:#fff;}
.m-form-h .group .prefix,
.m-form-h .group .control{ display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }
.m-form-h .group .control{ cursor: text; }
.m-form-h .group input{border: 1px solid #dedede;}

/*信息*/
.m-infor{ background:#525252; }
.m-infor .inner{ padding:25px; overflow: hidden; /*bfc*/}
.m-infor .inner dt,
.m-infor .inner dd,
.m-infor .inner dd a{ color:#CCC; }
.m-infor .inner dd a:hover{ text-decoration: underline; }
.m-infor .inner .mobile{ color:#dd9a1b; font-weight:bold; font-size: 24px;line-height: 24px; }
/*联系方式项目列表*/
.m-contact{ float: left; padding-left: 10px; }
.m-contact dd{ line-height: 200%; }
.m-contact dt{ font-size: 24px; }
.m-contact dd{ text-indent: 25px; }
.m-contact .u-icon{ background-position: left center; background-repeat: no-repeat; }
.m-contact .mobile{ background-image:url('images/home/mobile.png'); }
.m-contact .email{ background-image:url('images/home/email.png'); }
.m-contact .address{ background-image:url('images/home/address.png'); }
/*navigation*/
.m-navigation{ margin-left:500px; }
.m-navigation dt,
.m-navigation dl{ text-align: center; }
.m-navigation dl{ float: left; width: 25%; }
.m-navigation dt{ font-size: 16px; font-weight: bold; line-height: 180%; }
.m-navigation dd{ line-height: 160%; }

.m-foot-wrap{background: #323232;padding:25px 0;color:#828282;line-height: 170%}
.m-foot-wrap ul,
.m-foot-wrap dl{font-family: 'Microsoft Yahei';font-size: 14px;}
.m-foot-wrap .phone dd{font-size:24px;font-family: Tahoma }
.m-foot-wrap .phone{border-right: 1px solid #4f4f4f;background: url(images/common/phone.png) no-repeat left bottom;text-indent: 40px;}
.m-foot-wrap .icon{ width: 500px; height: 100px;}
.m-foot-wrap .icon li{float:right;}
.m-foot-wrap .icon li iframe{display:inline-block;*display:inline;*zoom:1;margin: -24px 0 0 20px;}

/**
 * 熊洋 
 * 2014.8.15
 * 改版首页 项目列表iframe
 */
/*覆盖*/
.home-newlist{ width: 300px; }
.home-newlist .h-newlist-box li{ white-space: nowrap; overflow: hidden; background: url(images/common/list-item.png) no-repeat 0 center;list-style-type: none;padding-left: 15px; }
/*新增*/
.m-project .home-newpro{ width: 683px;}
.m-project h3{ height: 42px;background:#f0f0f0 url(images/common/tz-list.jpg) no-repeat 0 0; }
.m-project h3 span{ visibility: hidden;margin:0; padding:0;height: auto;line-height: 120%; }
.m-project table{ width: 100%; border-bottom: 0; }
.m-project .title{ border:1px solid #dcdcdc; height: 34px; }
.m-project th{ text-align: center; background:#fff4f4; color:#6c6c6c; }
.m-project table .first{ text-align: left; text-indent: 1em; }
.m-project .project-title{ background: url('images/common/project_title.gif') no-repeat 10px center; text-indent: 20px; white-space: nowrap; }
.m-project td.bar{ width: auto; }
.m-project td.bar .percent{ display: block; text-align: center; }
.m-project td .plan_bg{ width: 70px; }
.m-project-inner{border:1px solid #ddd;}
.newpro-item{padding: 20px 20px 0;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.newpro-item:hover{background: #f7f7f7;}
.newpro-item-inner{padding-bottom: 20px;border-bottom: 1px dashed #999;}
.last .newpro-item-inner{border-bottom-width: 0;}
.newpro-item .row1{line-height: 30px;}
.newpro-item .row2{line-height: 35px;}
.newpro-item td{color:#323232;font-family: tahoma,arial,宋体,"Hiragino Sans GB";}
.newpro-item .f-bb{border-bottom: 1px solid #eee;}
.newpro-item strong{color:#d73800;font-family: 'Arial';padding-right: 5px;}
.newpro-item .icon{width: 100px;background-repeat: no-repeat;background-position: 5px center;}
.newpro-item .receive .icon{background-image: url('images/common/project_icon.jpg');}
.newpro-item .disabled .icon{background-image: url('images/common/project_compile.jpg');}
.newpro-item .link:hover,
.newpro-item .link{color:#0078c8;}
.newpro-item .btn{display: inline-block;*display: inline;*zoom: 1;width: 109px;height:32px;line-height: 30px;font-size: 14px;font-weight: bold;text-align: center;color:#fff; }
.newpro-item .receive .btn{background: url(images/common/invest_btn.jpg) no-repeat 0 0;}
.newpro-item .disabled .btn{background: url(images/common/invest_disabled.jpg) no-repeat 0 0;}
/*reset*/
.m-project td.button a{ height: auto; width: auto; line-height: 100%; }
.m-project td.button a{ padding:5px 10px; font-size: 14px; }
.m-project td.button a{ background: #f99c34}
/*还款状态*/
.m-project .status{ background-image: url('images/common/project_status.png'); background-repeat: no-repeat; }
.m-project .repay{ background-position: -136px center; }/*还款中*/
.m-project .repayed{ background-position: left center; }/*已还款*/
.m-project .complete{ background-position: -262px center; }/*完成*/

/*圆形进度条*/
.m-progress{ width:48px; height:48px; line-height:48px; background-image: url('images/common/progress.png'); background-repeat: no-repeat; }
.m-progress .text{ display: block; font-size: 9px; text-align: center; color:#555; font-family: tahoma}
/*进度明细*/
.m-progress-1,.m-progress-2,.m-progress-3,.m-progress-4,.m-progress-5,.m-progress-6,.m-progress-7,.m-progress-8,.m-progress-9,.m-progress-10{ background-position: -48px center; }
.m-progress-11,.m-progress-12,.m-progress-13,.m-progress-14,.m-progress-15,.m-progress-16,.m-progress-17,.m-progress-18,.m-progress-19,.m-progress-20{ background-position: -95px center; }
.m-progress-21,.m-progress-22,.m-progress-23,.m-progress-24,.m-progress-25,.m-progress-26,.m-progress-27,.m-progress-28,.m-progress-29,.m-progress-30{ background-position: -143px center; }
.m-progress-31,.m-progress-32,.m-progress-33,.m-progress-34,.m-progress-35,.m-progress-36,.m-progress-37,.m-progress-38,.m-progress-39,.m-progress-40{ background-position: -191px center; }
.m-progress-41,.m-progress-42,.m-progress-43,.m-progress-44,.m-progress-45,.m-progress-46,.m-progress-47,.m-progress-48,.m-progress-49,.m-progress-50{ background-position: -239px center; }
.m-progress-51,.m-progress-52,.m-progress-53,.m-progress-54,.m-progress-55,.m-progress-56,.m-progress-57,.m-progress-58,.m-progress-59,.m-progress-60{ background-position: -287px center; }
.m-progress-61,.m-progress-62,.m-progress-63,.m-progress-64,.m-progress-65,.m-progress-66,.m-progress-67,.m-progress-68,.m-progress-69,.m-progress-70{ background-position: -335px center; }
.m-progress-71,.m-progress-72,.m-progress-73,.m-progress-74,.m-progress-75,.m-progress-76,.m-progress-77,.m-progress-78,.m-progress-79,.m-progress-80{ background-position: -383px center; }
.m-progress-81,.m-progress-82,.m-progress-83,.m-progress-84,.m-progress-85,.m-progress-86,.m-progress-87,.m-progress-88,.m-progress-89,.m-progress-90{ background-position: -431px center; }
.m-progress-91,.m-progress-92,.m-progress-93,.m-progress-94,.m-progress-95,.m-progress-96,.m-progress-97,.m-progress-98,.m-progress-99,.m-progress-100{ background-position: -479px center; }


/**
 * 熊洋 
 * 2014.8.15
 * 改版首页 至 百合贷首页
 * 因为百合贷属于P2PE8 所以不能直接使用
 */
.net-credit table { border: 1px solid #dcdcdc; border-right: none; }
.net-credit table td { width: 249px; border-right: 1px solid #dcdcdc; }
.net-credit table td img { padding: 10px 0; }
.net-credit table td.line { border-bottom: 1px solid #dcdcdc; height: 108px; }
.net-credit table td p { color: #333333; padding-left: 20px; }
.net-credit table td strong { color: #b70004; font-size: 28px; font-weight: normal; padding-left: 20px; }

.m-step2{background: url(images/common/step.jpg) no-repeat 0 0;height:132px;}


/*选项卡*/
.m-tab-strips{font-size: 0;}
.m-tab-strips li{display: inline-block;*display: inline;*zoom: 1;font-size: 16px;padding:7px 15px;cursor: pointer;background: #d9d8d8;text-align: center;border-right: 1px solid #f7f7f7; }
.m-tab-strips .active{background: #d0210d}
.m-tab-strips .active span{color: #fff;}

/*详情页*/
.de-title { font-size: 16px; font-weight: bold; padding: 5px 35px 8px 0px; margin: 20px 0px 30px; border-bottom: 2px solid #BFBFBF; position: relative; width: 860px;}
.browse_butright { right: 0px; left: auto; position: absolute; top: 20px; height: 38px; z-index: 999; }
.browse_butleft { left: 0px; position: absolute; top: 20px; height: 38px; z-index: 999; }
/* 图片滚动 */
.picScroll{ position:relative;  height: auto; padding: 10px 0 10px 42px;  background:#fff; margin-bottom:10px; overflow:hidden;   }
.picScroll ul{ overflow:hidden; zoom:1; }
.picScroll ul li{ float:left; margin: 0px; width:130px; overflow:hidden; display:inline; }
.picScroll ul li img{ max-width:110px; height:124px; }
.picScroll .prev,
.picScroll .next{ position:absolute; left:10px; top: 150px; display:block; width:18px; height:28px; overflow:hidden; background:url(images/common/icons.png) -40px 0 no-repeat; cursor:pointer;  }
.picScroll .next{ left:auto; right:10px; background-position:-120px 0; }
.picScroll .prevStop{ background-position:0 0; }
.picScroll .nextStop{ background-position:-80px 0; }
/*经纪人链接*/
.jj10{padding-top: 20px;padding-bottom: 20px;border: 1px solid;border-color: #1E8A02;padding-left: 20px;margin-top: 20px;}

/*分享*/
.shareMain {
    font: 14px "Microsoft YaHei","微软雅黑";
    overflow: visible;
    position: fixed;
    right: -1px;
    top: 142px;
    width: 41px;
    z-index: 2000;
}
.share_sp, .share_sp_ov {
    height: 61px;
    overflow: visible;
    position: relative;
    z-index: 2001;
}
.share_sp h6, .share_sp_ov h6 {
    background: url("images/common/share.png") no-repeat scroll 0 0 #ededed;
    cursor: pointer;
    height: 25px;
    padding-top: 35px;
    text-align: center;
}
.share_sp h6 {
    color: #8c8c8c;
}
.share_sp_ov h6 {
    color: #fff;
}
.share_sp h6.sevice {
    background-position: 10px 8px;
}
.share_sp h6.yijian {
    background-position: 10px -45px;
}
.share_sp h6.share {
    background-position: 10px -105px;
}
.share_sp h6.goToTop {
    background-position: 12px -165px;
    display: block;
}
.share_sp_ov h6.sevice {
    background-color: #e66432;
    background-position: -34px 8px;
}
.share_sp_ov h6.yijian {
    background-color: #e66432;
    background-position: -34px -45px;
}
.share_sp_ov h6.share {
    background-color: #e66432;
    background-position: -34px -105px;
}
.share_sp_ov h6.goToTop {
    background-color: #e66432;
    background-position: -34px -165px;
}
.share_box {
    background-color: #fff;
    border: 2px solid #e66432;
    display: none;
    font: 12px "宋体";
    padding: 14px 0 13px 10px;
    position: absolute;
    right: 41px;
    top: 0;
    width: 190px;
    z-index: 2002;
}
.share_box label {
    color: #878787;
    float: left;
    line-height: 24px;
    text-align: right;
    width: 50px;
}
.share_box input, .share_box textarea {
    background-color: #fff;
    border: 1px solid #bec7d2;
    color: #505050;
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
    width: 120px;
}
.share_box textarea {
    height: 50px;
    line-height: 22px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 3px;
    width: 150px;
}
.share_box .adviceBtn {
    background: url("images/common/share.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 31px;
    width: 86px;
}
.share_box .adviceBtn:hover {
    opacity: 0.8;
}
.bdsharebuttonbox a {
    display: block;
    width: 70px;
}

.share_sp h6.count{background:url(/styles/images/count1.jpg);}
.share_sp h6.count:hover{background:url(/styles/images/count2.jpg);}

/*渝金锁 修改 -我要投资页面*/
.bd-box-tisi{background:url(/styles/images/common/toubiao.png) no-repeat;height:45px;margin-bottom:10px;}
.bd-box-tisi span{text-indent:45px;display:block;width:100%;line-height:45px;}
/*渝金锁 修改  -账户管理担保人违约代偿页面*/
.payLoan{background:#f37800}

/**
 * 专题页 红包
 */
.m-speSection,
.m-speSection img{
  width: 1920px;
}
.m-speSection{
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  zoom: 1;
}
.m-speSection img{
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -960px;
}