<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>yzzUserRegisterServlet</servlet-name>
    <servlet-class>com.yjf.api.servlet.UserSpecialRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yzzUserRegisterServlet</servlet-name>
    <url-pattern>/userSpecialRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userNewAuthorize</servlet-name>
    <servlet-class>com.yjf.api.servlet.NewAuthorizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userNewAuthorize</servlet-name>
    <url-pattern>/newAuthorizeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testResponseNotice</servlet-name>
    <servlet-class>com.yjf.api.notice.TestResponseNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testResponseNotice</servlet-name>
    <url-pattern>/testResponseNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>yjfPasswordTokenServlet</servlet-name>
    <servlet-class>com.yjf.api.servlet.PasswordTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yjfPasswordTokenServlet</servlet-name>
    <url-pattern>/passwordTokenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>yjfPasswordTokenNotice</servlet-name>
    <servlet-class>com.yjf.api.notice.PasswordTokenNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yjfPasswordTokenNotice</servlet-name>
    <url-pattern>/passwordTokenNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDeductServlet</servlet-name>
    <servlet-class>com.yjf.api.servlet.UserDeductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeductServlet</servlet-name>
    <url-pattern>/userDeductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDeductNotice</servlet-name>
    <servlet-class>com.yjf.api.notice.UserDeductNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeductNotice</servlet-name>
    <url-pattern>/userDeductNotice</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>